<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user_data.username }} recommends...</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body onload="onload()">
    <div id="content">
        <h1>Recommends</h1>
        <h2 id="user-recommends">{{ user_data.username }} recommends...</h2>
        {% if is_editing %}
        <a href="/{{ user_data.username }}"><button id="save-button">Save</button></a>
        {% elif editable %}
        <a href="/edit"><button id="edit-button">Edit</button></a>
        {% endif %}

        <div id="recommendation-table-div">
            {% for category in user_data.recommendations %}
            {% set outer_loop = loop %}
            <table class="recommendation-table rec-table-index={{ loop.index - 1 }}">
                <tr><th class="rec-table-category rec-table-category-index={{ loop.index - 1 }}" {% if is_editing %} contenteditable="true" spellcheck="false" {% endif %}>{{ category }}</th></tr>
                {% for recommendation in user_data.recommendations[category] %}
                <tr><td class="rec-table-item rec-table-item-index={{ outer_loop.index - 1 }},{{ loop.index - 1 }}" {% if is_editing %} contenteditable="true" spellcheck="false" {% endif %}>{{ recommendation }}</td></tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>

    {% if is_editing %}
    <script>
        function onload()
        {
            for (let field of document.getElementsByClassName("rec-table-category"))
            {
                field.addEventListener("keydown", onFieldEdit)
            }
            for (let field of document.getElementsByClassName("rec-table-item"))
            {
                field.addEventListener("keydown", onFieldEdit)
            }
        }

        function onFieldEdit (event)
        {
            if (event.code === "Enter" || event.code === "NumpadEnter" || event.code === "ArrowDown")
            {
                event.preventDefault()
                if (event.target.classList[0] === "rec-table-category")
                {
                    let nextElement = document.getElementsByClassName("rec-table-item-index=" + event.target.classList[1].split("=")[1] + ",0")[0]
                    nextElement.focus()
                    cursorToEnd(nextElement)
                }
                else if (event.target.classList[0] === "rec-table-item")
                {
                    let nextClassName = event.target.classList[1].split(",")[0] + "," + (parseInt(event.target.classList[1].split(",")[1]) + 1)
                    let nextElement = document.getElementsByClassName(nextClassName)
                    if (nextElement.length === 0)
                    {
                        event.target.parentElement.parentElement.innerHTML += '<tr><td class="rec-table-item ' + nextClassName + '" contenteditable="true" spellcheck="false"></td></tr>'
                        nextElement = document.getElementsByClassName(nextClassName)[0]
                        nextElement.addEventListener("keydown", onFieldEdit)
                    }
                    else
                    {
                        nextElement = nextElement[0]
                    }
                    nextElement.focus()
                    cursorToEnd(nextElement)
                }
            }
            else if (event.code === "ArrowUp" || (event.code === "Backspace" && (event.target.innerHTML === "" || event.target.innerHTML === "<br>")))
            {
                event.preventDefault()
                if (event.target.classList[0] === "rec-table-item")
                {
                    let nextClassName = event.target.classList[1].split(",")[0] + "," + (parseInt(event.target.classList[1].split(",")[1]) - 1)
                    let nextElement = document.getElementsByClassName(nextClassName)
                    if (nextElement.length === 0)
                    {
                        nextElement = document.getElementsByClassName("rec-table-category-index=" + event.target.classList[1].split("=")[1].split(",")[0])[0]
                    }
                    else
                    {
                        nextElement = nextElement[0]
                    }
                    nextElement.focus()
                    cursorToEnd(nextElement)

                    // Delete an empty row
                    if (event.target.innerHTML === "" || event.target.innerHTML === "<br>")
                    {
                        event.target.remove()
                    }
                }
            }
        }

        function cursorToEnd (element)
        {
            // Move cursor to the end of the text in the row
            let range = document.createRange()
            let select = window.getSelection()
            range.selectNodeContents(element)
            range.collapse(false)
            select.removeAllRanges()
            select.addRange(range)
        }
    </script>
    {% endif %}
</body>
</html>
